{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Music Blocks Manager{% endblock %}
{% block content %}
{{ utils.flashed_messages() }}
{{ wtf.quick_form(form, button_map={'shutdown':'primary', 'reboot':'primary', 'delete':'danger'}) }}

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  $(document).ready(function(){
    var js = "return confirm('Are you sure?  This cannot be undone.');";
    // create a function from the "js" string
    var newclick = new Function("return confirm('Are you sure?  This cannot be undone.');");

    // clears onclick then sets click using jQuery
    $("#delete").attr('onclick', '').click(newclick);
  });
</script>
{% endblock %}